body{
  height: 100vh;
  width: 100vw;
}
div{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img{
    width: 20%;
    margin: 1%;
}