body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #f3e9cb;
}
div{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img{
    width: 20%;
    margin: 1%;
    border-radius: 5%;
    height: auto;
    aspect-ratio: 16/20;
}

img:hover{
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  div {
    width: 90%;
  }
}

@media (max-width: 768px) {
  div {
    width: 100%;
  }
}